In [1]:
from market import Instruments

In [6]:
import pandas as pd

In [3]:
d=Instruments.get(symbol='ad')[0]

In [7]:
df = pd.DataFrame(d.history())

In [9]:
df.columns = ['a','b','c','d','e','f','g']

In [18]:
df['a'] = df['a'].astype('M8[ms]')

In [19]:
df

              a       b       c       d       e         f         g
0    1987-01-13  0.0078  0.0089  0.0039  0.0041    1854.0     915.0
1    1987-01-14 -0.0059 -0.0048 -0.0093 -0.0082    1446.0     930.0
2    1987-01-15  0.0019  0.0020  0.0006  0.0008     539.0     786.0
3    1987-01-16  0.0027  0.0039  0.0027  0.0036     537.0     964.0
4    1987-01-19  0.0035  0.0069  0.0035  0.0054     506.0     866.0
...         ...     ...     ...     ...     ...       ...       ...
8341 2020-02-05  0.6744  0.6779  0.6729  0.6750  107683.0  176331.0
8342 2020-02-06  0.6750  0.6769  0.6731  0.6735   95120.0  175086.0
8343 2020-02-07  0.6735  0.6740  0.6666  0.6681  106791.0  173073.0
8344 2020-02-10  0.6678  0.6711  0.6671  0.6683   80302.0  169095.0
8345 2020-02-11  0.6688  0.6741  0.6685  0.6719   96768.0  167230.0

[8346 rows x 7 columns]

In [18]:
type(s)

numpy.ndarray

In [20]:
s.nbytes/1024

455.6015625

In [1]:
import csv
import os
from datetime import datetime

In [73]:
class Instrument:
    HISTORY_FILE = os.path.join('market', '')
    
    def __init__(self, symbol, name, exchange, currency, market, region\
                 ,startdate, tickunit, tickprice, margin, depth, decimallength, has_history, is_tradable):
        self.symbol = symbol
        self.name = name
        self.exchange = exchange
        self.currency = currency
        self.market = market
        self.region = region
        self.startdate = startdate
        self.tickunit = tickunit
        self.tickprice = tickprice
        self.margin = margin
        self.depth = depth
        self.decimallength = decimallength
        self.has_history = has_history
        self.is_tradable = is_tradable
    
    def __repr__(self):
        return f"{self.name}({self.symbol})"
    
    def get_history(self, length):
        
        
class Instruments:
    METAFILE = os.path.join('market', 'instruments.csv')
    _lists = [] #개별 상품 인스턴트 리스트
    with open(METAFILE ,'r') as file:
        reader = csv.DictReader(file)
        _instruments = list(reader)
        
        for instrument in _instruments:
            __instrument = Instrument(
                symbol=instrument['symbol'].lower(),
                name=instrument['name'].lower(),
                exchange=instrument['exchange'].lower(),
                currency=instrument['currency'].lower(),
                market=instrument['market'].lower(),
                region=instrument['region'].lower(),
                startdate=datetime.strptime(instrument['startdate'],'%Y-%m-%d'),
                tickunit=float(instrument['tickunit']),
                tickprice=float(instrument['tickprice']),
                margin=float(instrument['margin']),
                depth=int(instrument['depth']),
                decimallength=int(instrument['decimallength']),
                has_history=True if instrument['has_history']=='y' else False,
                is_tradable=True if instrument['is_tradable']=='y' else False
            )
            _lists.append(__instrument)
            
    
    @staticmethod
    def get(**kwargs):
            #symbol=None,name=None, exchange=None, startdate=None, currency=None, region=None\
            #,tickunit=None, tickprice=None, margin=None, depth=None, decimal_length=None\
            #,has_history=None, is_tradable=None):
        attrs = ['symbol','name','exchange','startdate','currency','region'\
                ,'tickunit','tickprice','margin','depth','decimallength','has_history','is_tradable']
        def func(ins):
            for key, value in kwargs.items():
                if key not in attrs:
                    return False
                
                if getattr(ins, key) != value.lower() if isinstance(value, str) else value:
                    return False
            return True
        return [ret for ret in filter(func, Instruments._lists)]

In [84]:
Instruments.get(exchange='CME')

[australian dollar(ad),
 soybean oil(bo),
 british pound gbp(bp),
 corn(c),
 canadian dollar(cd),
 wti crude oil(cl),
 class iii milk(da),
 euro fx(ec),
 eurodollar(ed),
 s&p 500 index e-mini(es),
 30-day federal funds(ff),
 5-year us treasury note(fv),
 gold(gc),
 copper(hg),
 heating oil(ho),
 japanese yen(jy),
 random length lumber(lb),
 live cattle(lc),
 lean hogs(ln),
 s&p 400 midcap index(md),
 mexican peso(mp),
 new zealand dollar nzd(ne),
 natural gas(ng),
 nikkei 225(nk),
 nasdaq 100 index mini(nq),
 oats(o),
 palladium(pa),
 platinum(pl),
 gasoline(rb),
 rough rice(rr),
 russell 1000 index mini(rs1),
 russell 2000 index mini(rty),
 soybeans(s),
 swiss franc chf(sf),
 silver(si),
 soybean meal(sm),
 s&p 500 index(sp),
 2-year us treasury note(tu),
 10-year us treasury note(ty),
 30-year us treasury bond(us),
 wheat(w),
 e-mini dow jones(ym)]

In [59]:
a

In [64]:
class A:
    def __repr__(self):
        return 'hi'

In [65]:
a = A()

In [66]:
a

hi